#containerAccordion {
    margin: 0 auto;
    width: 90%;
    height:100%;
}
#accordion input[type="checkbox"] {
	display: none;
}

#accordion label 
{

	background: #eee;
	border-radius: .25em;
	cursor: pointer;
	display: block;
	margin-bottom: .125em;
	padding: .25em 1em;
	z-index: 20;
	height:30px;
	border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
	
}wde 


#accordion label:hover {
	background: #FFCC99;
	
}

#accordion input:checked + label {
	background: #259add;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: white;
	margin-bottom: 0;
}
#accordion article {
	background: #F5F5F5;
	height:0px;
	overflow:hidden;
	z-index:10;
	width:100%;
	border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
	
}
#accordion article p {
	padding: 1em;
	width:100%;
}
#accordion input:checked article 
{
    width:100%;
}
#accordion input:checked ~ article {
	border-bottom-left-radius: .25em;
	border-bottom-right-radius: .25em;
	height: auto;
	margin-bottom: .125em;
	width:100%;
}

.accordionimg
{
    width:70px;
    height:70px;
    text-align:center;
    max-height:100px;
    margin-top:10px;

    border:dashed 0px #000000;
    -moz-border-radius-topleft: 75px;
    -moz-border-radius-topright:75px;
    -moz-border-radius-bottomleft:75px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:75px;
    -webkit-border-top-right-radius:75px;
    -webkit-border-bottom-left-radius:75px;
    -webkit-border-bottom-right-radius:75px;
    border-top-left-radius:75px;
    border-top-right-radius:75px;
    border-bottom-left-radius:75px;
    border-bottom-right-radius:75px;


    -moz-box-shadow: 6px 6px 16px #000000;
    -webkit-box-shadow: 6px 6px 16px #000000;
    box-shadow: 6px 6px 16px #000000;
   
}

.fontacor{
color:#1E90FF;
    font-size: :20px;
    font-weight:bolder;
    font-family:Narkisim;
    height:35px;
    
}

.fontacor1
{
    
color:Black;
    font-size: :20px;
    font-weight:bolder;
    font-family:Narkisim;
    height:30px;

}


.fontacorrr
{
    
color:#1E90FF;
    font-size: :20px;
    font-weight:bolder;
    font-family:Narkisim;
    margin-top:8px;
    margin-left:-3px;
    
    
   

}

