/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */

.reveal-modal-bg
{
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0,0,0,.8);
    z-index: 100;
    display: none;
    top: 0;
    left: 0;
}

.reveal-modal
{
    visibility: hidden;
    top: 100px;
    left: 40%;
    margin-left: -300px;
    width: 55%;
    height: 350px;
    background: #0099FF url(modal-gloss.png) no-repeat -200px -80px;
    position: absolute;
    z-index: 101;
    padding: 30px 40px 34px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 20px;
    -moz-box-shadow: 0 0 100px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 100px rgba(0,0,0,.4);
    -box-shadow: 0 0 100px rgba(0,0,0,.4);
}

.reveal-modal.small
{
    width: 200px;
    margin-left: -140px;
}
.reveal-modal.medium
{
    width: 400px;
    margin-left: -240px;
}
.reveal-modal.large
{
    width: 600px;
    margin-left: -340px;
}
.reveal-modal.xlarge
{
    width: 800px;
    margin-left: -440px;
}

.reveal-modal .close-reveal-modal
{
    font-size: 26px;
    line-height: .5;
    position: absolute;
    top: 9px;
    right: 12px;
    color: #000099;
    text-shadow: 0 -1px 3px rbga(0,0,0,.6);
    font-weight: bold;
    cursor: pointer;
}
/*
		
	NOTES
	
	Close button entity is &#215;
	
	Example markup
	
	<div id="myModal" class="reveal-modal">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch.  I it's mine.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	*/
.title
{
    text-align: center; /*Apply this class to some text to unlock the secrets of the third dimension!*/
    font-family: 'Times New Roman' , Times, sans-serif;
    line-height: 1em;
    color: #faf5fa;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 0px 0px 0 rgb(162,157,162),1px 1px 0 rgb(128,123,128),2px 2px 0 rgb(94,89,94),3px 3px 0 rgb(60,55,60), 4px 4px 0 rgb(26,21,26),5px 5px 4px rgba(0,0,0,0.2),5px 5px 1px rgba(0,0,0,0.5),0px 0px 4px rgba(0,0,0,.2);
}


.aa
{
    color: Black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, sans-serif;
   font-weight:bold;
}
.btnjoin
{
    margin-left: 280px;
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 0px #3663d6;
    -moz-box-shadow: 0px 0px 0px #3663d6;
    box-shadow: 0px 0px 0px #3663d6;
    font-family: Georgia;
    color: #f7f7f7;
    font-size: 19px;
    background: #3a4247;
    padding: 8px 20px 8px 20px;
    border: solid #407fa6 1px;
    text-decoration: none;
}

.btnjoin:hover
{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #09161f);
    background-image: -moz-linear-gradient(top, #3cb0fd, #09161f);
    background-image: -ms-linear-gradient(top, #3cb0fd, #09161f);
    background-image: -o-linear-gradient(top, #3cb0fd, #09161f);
    background-image: linear-gradient(to bottom, #3cb0fd, #09161f);
    text-decoration: none;
}

.map
{
    border: 2px ridge #999999;
    height: 180px;
    width: 160px;
    float:left;
}

#map-canvas
{
    -moz-box-shadow: 8px 6px 16px #000000;
    -webkit-box-shadow: 8px 6px 16px #000000;
    box-shadow: 8px 6px 16px #000000;
}

.listt
{
    margin-top: -100px;
    margin-left: 40px;
}
.imgList
{
    width: 25px;
    height: 25px;
}



.bbb{
font-family: Garamond, serif;
line-height: 1em;
color: #faf5fa;
font-weight:bold;
font-size: 21px;
text-shadow:0px 0px 0 rgb(147,147,147),1px -1px 0 rgb(73,73,73),2px -2px 0 rgb(-2,-2,-2), 1px -1px 0 rgb(-77,-77,-77),2px -2px 1px rgba(0,0,0,0.5),2px -2px 1px rgba(0,0,0,0.5),0px 0px 3px rgba(0,0,0,.2);
}
