/* DEFAULTS
----------------------------------------------------------*/


body
{
    /*background: #b6b7bc;*/
    font-size: 16px;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
    background-image: url('../Images/bluefadetovivid.jpeg');
    background-size:cover;
    background-repeat:no-repeat;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}



p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
#imgLogo
{
    width:auto;
    height: 110px;
}
.page
{
    width: 100%;
    height: 100%;
    margin: 0px auto 0px auto;
    
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 120px;
   
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

#menu
{
    margin-bottom: 5%;
}

.main
{
    
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    height: 70%;
    width:100%;
}
.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    text-align: center;
    line-height: normal;
    
}

Label
{
    color: Black;
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color: #3a4f63;
    width: 100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline
{
    display: inline;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
    height: 100px;
}
.titleEv
{
    text-align: center; /*Apply this class to some text to unlock the secrets of the third dimension!*/
    font-family: 'Times New Roman' , Times, sans-serif;
    line-height: 1em;
    color: #faf5fa;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 0px 0px 0 rgb(162,157,162),1px 1px 0 rgb(128,123,128),2px 2px 0 rgb(94,89,94),3px 3px 0 rgb(60,55,60), 4px 4px 0 rgb(26,21,26),5px 5px 4px rgba(0,0,0,0.2),5px 5px 1px rgba(0,0,0,0.5),0px 0px 4px rgba(0,0,0,.2);
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

/* --------------------------------------- */

.myButton
{
    background-image: url('../Images/bluefadetovivid_small.jpg');
    font-size: medium;
    -moz-box-shadow: 5px 5px 10px 0px #276873;
    -webkit-box-shadow: 5px 5px 10px 0px #bfcbd6;
    box-shadow: 5px 5px 10px 0px #5C646B;
    background-color: #3a4f63;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    color: #ECF0F5;
    font-family: Trebuchet MS;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

.myButton:hover
{
    background-color: #bfcbd6;
    color: #465c71;
}

.myButton:active
{
    position: relative;
    top: 1px;
}

.ErroerLBL
{
    color: Red;
    font-size: large;
}

.btnCh
{
    height: 18px;
    width: 18px;
    vertical-align: middle;
}

#search input[type="text"]
{
    border: 1px solid #d1d1d1;
    font: bold 14px Arial,Helvetica,Sans-serif;
    color: Black;
    width: 50px;
    padding: 6px 15px 6px 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    text-align: center;
}

#search input[type="text"]:focus
{
    width: 75px;
}

.ggg
{
    border: 1px solid #d1d1d1;
    font: bold 14px Arial,Helvetica,Sans-serif;
    color: Black;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    background: transparent;
}
.helloediv
{
    background-color: #6633FF;
    width: 230px;
    height: 45px;
    text-align: center;
    font-size: 35px;
    position: absolute;
    font-family: Tahoma;
    line-height: 1em;
    color: #fff9d6;
    font-weight: bold;
    -moz-transform: scale(1) rotate(-10deg) translateX(4px) translateY(4px);
    -webkit-transform: scale(1) rotate(-10deg) translateX(4px) translateY(4px);
    -o-transform: scale(1) rotate(-10deg) translateX(4px) translateY(4px);
    -ms-transform: scale(1) rotate(-10deg) translateX(4px) translateY(4px);
    transform: scale(1) rotate(-10deg) translateX(4px) translateY(4px);
    outline: 10px outset #FFFFFF;
    outline-offset: 1px;
}


.helloediv2
{
    background-color: transparent;
    height: 50px;
    width: 100%;
    text-align: left;
    font-size: 32px;
    position: absolute;
    font-family: Tahoma;
    line-height: 1em;
    color: #fff9d6;
    font-weight: bold;
    padding-top: 13px;
}


.addeventtitle
{
    text-align: center;
    font-size: 45px;
    color: White;
    font-weight: bold;
    line-height: 1em;
    
}

.addeventable
{
    width: 45%;
    padding-left: 10%;
    color:White;
}


.addeventinput
{
    border: 0 !important; /*Removes border*/
    -webkit-appearance: none; /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    background: #33CCFF url(pic/body.png) no-repeat 90% center;
    width: 120px; /*Width of select dropdown to give space for arrow image*/
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: ""; /*Removes default arrow from firefox*/ /*My custom style for fonts*/
    color: #FFF;
    border-radius: 15px;
    padding: 5px;
    box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
    color: Black;
}

.addeventinput:link 
{
    color:yellow;
}



.radiobuttonlist1
{
    color: #33CCFF;
}




#mapholder
{
    -moz-box-shadow: 8px 6px 16px #000000;
    -webkit-box-shadow: 8px 6px 16px #000000;
    box-shadow: 8px 6px 16px #000000;
    left: 10%;
}





.reasonList
{
    display: inline;
    text-align: right;
    font-family: Comic Sans MS;
    font-style: italic;
    color: White;
}

.imgtitel
{
    width:30px;
    height:30px;
    margin-top:25px;
    margin-left:5px;
}


